!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      OpenStack Grizzly Installation : Single Node 
    %link{:href => "./stylesheets/bootstrap_1.css", :rel => "stylesheet", :type => "text/css"}/

    %meta{:content => "nanoc #{Nanoc::VERSION}", :name => "generator"}/
  %body      
    .container-fluid
      .row-fluid
        #sidebar.span3
          %ul.nav.nav-list.docs-sidenav
            %li
              / %a{:href => "/openstack_installation.html"}
              /   %i.icon-chevron-right
              /   Open Stack Single Node Installation
               
            / %li
            /   %a{:href => "/single_flat_network.html"}
            /     %i.icon-chevron-right
            /     Single Flat Network
            / %li
            /   %a{:href => "/router_with_private_network.html"}
            /     %i.icon-chevron-right
            /     Router With Private Network
            / %li
            /   %a{:href => "/per_tenant.html"}
            /     %i.icon-chevron-right
            /     Per-Tenant Routers With Private Network
            / %li
            /   %a{:href => "/multi_node_cluster.html"}
            /     %i.icon-chevron-right
            /     Multi Node Cluster Installation
            / %li
            /   %a{:href => "/hbase.html"}
            /     %i.icon-chevron-right
            /     HBase
        #main.span13
          = yield
